.TodoEditor {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* border: 1px solid red; */
  background-color: beige;
}

.TodoEditor input{
  /* flex: 1; */
  border: 2px dashed green;
  padding: 7px;
  border-radius: 5px;
  width: 250px;
  margin-right: 5px;
}

.TodoEditor input:focus{
  outline: none;
  border: 2px solid lightseagreen;
}

.TodoEditor button{
  cursor: pointer;
  width: 70px;
  padding: 7px;
  border: none;
  background-color: green;
  color: white;
  border-radius: 5px;
}
