.TodoList .searchbar{
  margin-bottom: 20px;
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgray;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* 클릭했을 때! */
.TodoList .searchbar:focus{
  outline: none;
  border-bottom: 2px solid lightseagreen;
}

.TodoList .list_wrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
